a{
    text-decoration: none;
    color: black;
}
html {
    background-color: #F2BB66;
}
.background{
    background-color: #F2BB66;
}
.logo img {
    height: 30px;
}
.logo p {
    color: #7B7B7B;
    font-size: 15px;
}
.cart {
    color: #fff;
    background-color: #EB5A1E;
    border-radius: 15px;
}
.tag{
    background-color: white;
    border-radius: 15px;
}
.size-tag{
    border: 2px #EB5A1E solid;
}
.text-tag{
    color: #EB5A1E;
}
.is-chosen{
    background-color: #EB5A1E;
    color: white !important;
}
.pizza-icon{
    height: 150px;
    width: auto;
}
.pizza-card{
    max-width: 200px;
}

.item{
    max-width: 700px;
}
.btn-close{
    color: black;
    opacity: 1;
}
.form-item{
    max-width: 400px;
}